body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}

body::-webkit-scrollbar{
  display: none;
}

.floatingNav {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
}

#description::-webkit-scrollbar {
  display: none;
}

#selectedContent::-webkit-scrollbar{
  display: none;
}

#actualContent {
    color: #F6F4EB;
    padding: 0;
}

#headerImage {
    position: relative;
    background-image: url("imgs/ScatteredLions.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#profileImageContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    position: relative;
    z-index: 1;
    right: 200px;
    
}

.profile-container {
    text-align: center;
    position: relative;
    bottom: 100px;
}

.profile-image {
    width: 60%;
    height: auto;
}

.imageOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    z-index: 1;
}

#headerImage:hover .imageOverlay {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
}

#descriptionContainer {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 19vh;
    position: absolute; /* Position it absolutely */
    top: 38%;
    left: 49%;
    width: 28%;
    z-index: 2; /* Set a higher z-index to make it overlap */
}

#nameContainer {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    text-shadow: black;
    font-size:100px;
    position: relative;
    color: white;
    left: 47vw;
    top: 27vh;
}

#openDescriptionButton {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: relative;
    transition: transform 5s ease;
    top: 36vh;
    left: 55vw;
    z-index: 3;
    animation-name: float;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running; /* Initial state is running */
}

#openDescriptionButton.clicked{
    animation-name: none;
    transform: translateX(-7.5vw) translateY(-100%);
}

#openDescriptionButton.stop-animation {
    animation-play-state: paused; /* Stop the animation */
}

#openDescriptionButton:hover {
    color: rgba(0, 0, 0, 0.5);
}

#openDescriptionButton:hover h1 {
    transform: scale(120%);
}

#description {
    position: relative;
    list-style-type: none;
    padding: 0;
    width: auto;
    height:100%;
}

#description li::before {
    content: "\25B9"; /* Unicode character for bullet point */
    color: white; /* Custom color for the bullet point */
    font-weight: bold;
  }

#collapseButton:focus {
    border: none !important;
    box-shadow: none !important;
  }

  #titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

/* CONTENT SECTION */

#contentSection {
  background-color: #202227;
  height: 110vh;
  width: 100vw;
  max-height: fit-content;
  padding: 30px;
}

#projectIntroduction {
  margin-top: 80px;
  font-weight: bold;
  font-size:30px;
  position: relative;
  color: white;
}

.popoutText {
  font-size:50px;
  font-family: 'Nothing You Could Do', cursive;
  animation: float 2s infinite;
}

.piece {
  background-color: #2A2D34;
  height: 40vh;
  max-width: 15vw;
}

.piece:hover {
  background-color: #40acc7;
}

/*  */


  #selectedImg {
      border-radius: 10px;
  }

#links:hover {
  transform: scale(110%);
}

.outline {
  display: inline-block;
  padding: 20px 20px;
  background-color: transparent;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.outline::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  border: 2px solid #F6F4EB;
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.outline:hover::before {
  z-index: 2;
  opacity: 1;
}

  /* Preserve the original card styles */
.card-button {
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    font-weight: bold;
    background-color: #749BC2; 
    border-radius: 10px;
    height: 390px;
  }

  .contentSelectors {
    transition: transform 0.5s ease-in-out;
    margin-bottom: 30px;
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .card-img-bottom {
    width: 100%; /* Set a fixed width for the container */
    height: 100%; /* Set a fixed height for the container */
    object-fit:cover;
    border-radius: 5px;
    border: 4px solid white;
  }

  .topLinks {
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
    border: none;
    position: relative;
    z-index: 1;
  }
  
  .topLinksImage {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease-in-out;
  }
  
  .topLinksImage:hover {
    transform: scale(110%);
  }
  
  .circle {
    display: inline-block;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 60px;
    border-radius: 50%;
  }
  
  .float-git {
    animation-name: float-git;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .float-linkedin {
    animation-name: float-linkedin;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes float-git {
    0% { transform: translateY(-10%); }
    50% { transform: translateY(17%); }
    100% { transform: translateY(-10%); }
  }
  
  @keyframes float-linkedin {
    0% { transform: translateY(5%); }
    50% { transform: translateY(-15%); }
    100% { transform: translateY(5%); }
  }
  

@keyframes float {
    0% {transform: translateY(-10%);}
    50% {transform: translateY(20%);}
    100% {transform: translateY(-10%);}
}


.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}


/* .moving-circle {
    fill: rgba(255, 255, 255, 0.9);
    animation: moveCircle 5s linear infinite;
}

@keyframes moveCircle {
    0% {
        transform: translateX(calc(100vw - 100px)) translateY(calc(100vh - 100px));
    }
    100% {
        transform: translateX(0) translateY(0);
    }
} */

footer {
  padding: 30px 20px 5px 20px;
  color: white;
  background-color:#2A2D34;
}