body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}

#actualContent {
    color: white;
    padding: 0;
}

#headerImage {
    position: absolute;
    background-image: url("imgs/ScatteredLions.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#profileImageContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    position: relative;
    z-index: 1;
    right: 200px;
}

.profile-container {
    text-align: center;
}

.profile-image {
    width: 60%;
    height: auto;
}

.imageOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    z-index: 1;
}

#headerImage:hover .imageOverlay {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
}

#descriptionContainer {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 17vh;
    position: absolute; /* Position it absolutely */
    top: 46%;
    left: 49%;
    width: 33%;
    z-index: 2; /* Set a higher z-index to make it overlap */
}

#nameContainer {
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
    text-shadow: black;
    font-size:100px;
    position: relative;
    color: white;
    left: 47vw;
    top: 40vh;
}

#openDescriptionButton {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: relative;
    transition: transform 5s ease;
    top: 50vh;
    left: 57vw;
    z-index: 3;
    animation-name: float;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running; /* Initial state is running */
}

#openDescriptionButton.clicked{
    animation-name: none;
    transform: translateX(-10vw) translateY(-100%);
}

#openDescriptionButton.stop-animation {
    animation-play-state: paused; /* Stop the animation */
}

#openDescriptionButton:hover {
    color: rgba(0, 0, 0, 0.5);
}

#openDescriptionButton:hover h1 {
    transform: scale(120%);
}

#description {
    position: relative;
    list-style-type: none;
    padding: 0;
    width: auto;
    height:90%;
}

#content1 {
    margin-top: 50px;
    background-color: #2e3c4d;
    border-radius: 15px;
    padding: 15px;
    width: 1000px;
    height: 300px;
    transition: transform 0.5s ease-in-out;
}

#content1.expand {
    transform: scaleX(120%);
}

#collapseButton:focus {
    border: none !important;
    box-shadow: none !important;
  }

#visualContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  #projectVisUnderlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 215px;
    width: 215px;
  }

#projectDescription {
    position: relative;
    left:15%;
    width: 70%;
}

  #projectVisual {
    background-image: url(imgs/remoraLogo.jpeg);
    background-color: white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }

  #collapseButton.move {
    transform: translateX(-268%);
  }

  #projectVisUnderlay.move{
    transform: translateX(-200%);
  }

  #projectVisual:hover{
    transform: scale(105%);
  }

#projectTitle {
    transition: transform 0.5s ease-in-out;
}

  #projectTitle:hover {
    transform: scale(102%);
  }

  #projectTitle:active {
    color: aquamarine;
  }

 #tools, #projectDescription {
    position:absolute;
    height: 200px;
    width: 500px;
 }

#animationContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#card {
    margin-bottom: 10px;
}

@keyframes float {
    0% {transform: translateY(-10%);}
    50% {transform: translateY(20%);}
    100% {transform: translateY(-10%);}
}


.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}


/* .moving-circle {
    fill: rgba(255, 255, 255, 0.9);
    animation: moveCircle 5s linear infinite;
}

@keyframes moveCircle {
    0% {
        transform: translateX(calc(100vw - 100px)) translateY(calc(100vh - 100px));
    }
    100% {
        transform: translateX(0) translateY(0);
    }
} */