.banner {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    position: relative;
    padding: 10px 20px 0 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#row2::before {
    background-image: none !important;
}

.row::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    filter: blur(2px);
}

.overlayContainer {
    position: absolute;
    display: flex;
    justify-content: end;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90vh;
    width: 100%;
    bottom: 0%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay::before {
    content: "some description";
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#close_overlay {
    position: absolute;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 80px;
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: white;
    height: 40px;
    width: 40px;
}

.hidden {
    display: none;
}

#box1 {
    background-image: url("../imgs/pokemonart.jpeg");
}

#box2 {
    background-image: url("../imgs/kaze.jpg");
}

#box3 {
    background-image: url("../imgs/lenny.jpg");
}

#box4 {
    background-image: url("https://i.pinimg.com/564x/67/02/8d/67028d1f7f472637d5abcfb1c9f9afdb.jpg")
}

#box5 {
    background-image: url("https://images6.alphacoders.com/135/1351414.png")
}

.selected {
    height: 350px !important;
    width: 350px !important;
}

.threebox {
    display: block;
    position: relative;
    border-radius: 20px 0 20px 0;
    height: 320px;
    width: 320px;
    bottom: 0;
    background-size: cover;
    transition: bottom 1s ease-out;
}

.caption {
    pointer-events: none;
    width: 100%;
}

.caption::after {
    content: attr(data-caption);
    pointer-events: none !important;
    font-size: 17px !important;
    color: white;
    display: flex;
    align-items: flex-end;
    height: 320px;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);
    left: 0;
    bottom: 0px;
    border-radius: 20px 0 20px 0;
    z-index: -1;
    transition: bottom 1s ease-out;
}

.threebox:hover {
    bottom: 30px;
}

.threebox:hover>.caption::after {
    bottom: -30px;
}

.largebox.selected {
    height: 350px !important;
    width: 570px !important;
}

.largebox {

    border-radius: 20px 0 20px 0;
    height: 320px;
    width: 650px;
    background-size: cover;
    transition: bottom 1s ease-out;
}

@keyframes emphasize {

    0% {
        z-index: 5;
        transform: scale(1);
    }

    100% {
        z-index: 5;
        transform: scale(1.1);
    }
}

.welcome {
    font-size: larger;
    z-index: 1;
    margin: 200px 0 200px 0;
}


.welcome::before {
    z-index: 0;
    content: '';
    position: absolute;
    box-shadow: 90px 110px 100px 60px cyan;
    transition: box-shadow 1s ease-in-out;
    animation: beforeanim 5s ease-in-out infinite;
}

.welcome::after {
    z-index: 0;
    content: '';
    position: absolute;
    box-shadow: -90px 110px 100px 60px purple;
    transition: box-shadow 1s ease-in-out;
    animation: afteranim 5s ease-in-out infinite;
}

@keyframes beforeanim {
    0%, 100% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(30px)
    }
}

@keyframes afteranim {
    0%, 100% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(-30px)
    }
}